[user]
    name = Oliver Charlesworth
    email = oliver.charlesworth+github@gmail.com
[core]
    editor = /usr/bin/vim
    autocrlf = input
[remote "origin"]
    prune = true
[push]
    default = current
