[user]
    name = Oliver Charlesworth
    email = 57868158+oliver-charlesworth@users.noreply.github.com
[core]
    editor = /usr/bin/vim
    autocrlf = input
[remote "origin"]
    prune = true
[push]
    default = current
